* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.sidebar {
  height: 100%;
  width: 17%;
  position: relative;
}
.logo {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin: auto;
  color: #3f0e40;
}

.plogo {
  display: flex;
  position: absolute;
  right: 7px;
}
.plogo span {
  font-size: 25px;
}
.term {
  font-weight: 400;
}
.monitor {
  font-weight: 500;
}

.img {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 20px;
  height: 35px;
  width: 35px;
}

ul {
  list-style-type: none;
  color: #0000008a;
  padding-left: 1rem;
  margin: 0;
  padding: 0;
}

ul li {
  height: 3rem;
  padding-left: 2rem;
  padding-top: 0.6rem;
  
  width: 100%;
}
ul li:before {
  content: "credit_card";
  font-family: "Material Icons";
  padding-right: 1.5rem;
}

ul li.keyWord:before {
  content: "home";
  font-family: "Material Icons";
}

ul li.setting {
  color: black;
  font-size: 18px;
}
ul li.setting:before {
  content: "star";
  font-family: "Material Icons";
  color: #0000008a;
}

ul li.Matches:before {
  content: "people";
  font-family: "Material Icons";
}

select {
  position: absolute;
  right: 1rem;
  outline: none;
  border: none;
}

.billing {
  font-size: 13px;
  color: #0000008a;
  margin-left: 2rem;
}
.Selected{
  background-color: #3f0e40;
  color: #ffffff;
}

/* ====================================================Main====================    */

.Main {
  height: 100%;
  width: 83%;
}
.NavBar {
  width: 100%;
  position: relative;
  height: 4rem;
  background: #3f0e40;
  text-align: left;
  color: #ffffff;
  padding-top: 7px;
  font-weight: 500;
  padding-left: 43px;
  font-size: 30px;
}

.NavBarInp {
  height: 2rem;
  width: 15rem;
  border: none;
  outline: none;
  position: absolute;
  right: 12rem;
  top: 1rem;
  border-radius: 7px;
}

.NavBarBtn {
  height: 2rem;
  border: none;
  position: absolute;
  right: 8.3rem;
  top: 1rem;
  font-size: 11px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-weight: 500;
  color: #3f0e40;
}

.NavBarBtn span {
  font-size: 16px;
  font-size: 10px;
  font-weight: 500;
  color: #3f0e40;
}

.Account {
  height: 2rem;
  width: 2rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  font-size: 1.2rem;

  color: #3f0e40;
  text-align: center;
  right: 4rem;
  top: 1rem;
}

/* Main Body */

.MainBody {
  position: absolute;
  top: 4rem;
  left: 17%;
  height: calc(100vh - 4rem);
  width: calc(100vw - 17%);
}

.MainBodyTools {
  display: flex;
  align-items: center;
  position: relative;
  top: 4rem;
}

.MainBodyTools p {
  margin: 0;
  margin-left: 2rem;
}

p.Advance {
  position: absolute;
  right: 8rem;
}

p.AddKeyword {
  font-weight: 500;
  font-size: 26px;
}

.MainBodyTools-p2 {
  background-color: #3f0e40;
  color: #ffffff;
  width: 3rem;
  height: 2rem;
  text-align: center;
  padding-top: 4px;
}
.MainBodyInput {
  position: relative;
  top: 7rem;
  margin-left: 2rem;
}

.MainBodyInput span {
  color: gray;
  font-size: 18px;
}
.MainBodyInput input {
  outline: none;
  border: none;
  padding: 0;
  margin-left: 10px;
  height: 2rem;
  width: 20rem;
}
.MainBodyInput Button {
  position: absolute;
  right: 10rem;
  height: 3rem;
  width: 9rem;
  background: #3f0e40;
  color: #ffffff;
  border-radius: 7px;
  font-size: 1.2rem;
  border: none;
}

table,
th,
td {
  width: 90%;
}

th,
td {
  width: 20%;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.table-div {
  position: absolute;
  top: 15rem;
  height: 15rem;
  width: 100%;
}

.submit {
  position: absolute;
  height: 3rem;
  border-radius: 7px;
  width: 7rem;
  border: none;
  background: #3f0e40;
  color: #ffffff;
  bottom: 1.5rem;
  font-size: 1rem;
  left: calc((83vw - 7rem) / 2);
}
.td-search {
  margin-left: 5rem;
  text-align: right;
}
